.atari_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default;
}
.atari_pagination a, .atari_pagination span, .atari_pagination em {
  padding: 0.2em 0.5em;
}
.atari_pagination .disabled {
  color: #aaaaaa;
}
.atari_pagination .current {
  font-style: normal;
  font-weight: bold;
  color: red;
}
.atari_pagination a {
  /*border: 1px solid #dddddd;*/
  color: #0063dc;
  text-decoration: none;
}
.atari_pagination a:hover, .atari_pagination a:focus {
  /*border-color: #003366;*/
  background: #0063dc;
  color: white;
}
.atari_pagination .page_info {
  color: #aaaaaa;
  padding-top: 0.8em;
}
.atari_pagination .previous_page, .atari_pagination .next_page {
  border-width: 2px;
}
.atari_pagination .previous_page {
  margin-right: 1em;
}
.atari_pagination .next_page {
  margin-left: 1em;
}
